body {
	padding-top: 70px;
	padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 20px;
}

.theme-showcase > p > .btn {
	margin: 5px 0;
}

.theme-showcase .navbar .container {
	width: auto;
}

div.row {
	overflow:hidden;
}

.info-column {
	border-radius:10px;
	background-color:#f8f8f8;
	padding:8px;
	padding-bottom:999px;
	margin-bottom:-999px;
}

.highlight {
	color:green;
}

.modrow {
	background-color:#ccc;
}
.does-something {
	cursor:pointer;
}

.decimal-pre {
	color:#666;
}

.decimal-part-a {
	color:#f90;
}

.decimal-part-b {
	color:#09f;
}
